:root {
    --bg: rgb(5, 86, 3);
    --fg: #ffffff;
    --yellow: rgb(255, 224, 77);
    --shadow: rgb(186, 186, 186);
    --card-bg: rgb(236, 236, 236);
}

table {
    width: 100%;
}

tr {
    width: 100%;

}

h1 {
    text-align: center;
    vertical-align: middle;
}

#logo {
    width: 60%;
    text-align: center;
    -webkit-align-content: center;
    align-content: center;
    padding: 5px;
    margin: 2px;
    display: block;
    margin: 0 auto;
}

header {
    width: 100%;
    text-align: center;
    -webkit-align-content: center;
    align-content: center;
    vertical-align: middle;
}

.showcss{ display:block;}
.hidecss{ display:none;}

.btn:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:focus {
    box-shadow: none;
}

.items thead {
    text-align: center;
}

.center-align {
    text-align: center;
}

.bill-details td {
    font-size: 12px;
}

.receipt {
    font-size: medium;
}

.items .heading {
    font-size: 12.5px;
    text-transform: uppercase;
    border-top: 1px solid black;
    margin-bottom: 4px;
    border-bottom: 1px solid black;
    vertical-align: middle;
}

.items thead tr th:first-child,
.items tbody tr td:first-child {
    width: 10px !important;
    min-width: 10px !important;
    max-width: 10px !important;
    word-break: break-all;
    text-align: left;
}

.items thead tr th:nth-child(2),
.items tbody tr td:nth-child(2){
    width: 47%;
    min-width: 47%;
    max-width: 47%;
    word-break: break-all;
    text-align: left;
}

.items td {
    font-size: 12px;
    text-align: right;
    vertical-align: bottom;
}

.price::before {
    content: "\20B1";
    font-family: Arial;
    text-align: right;
}

.sum-up {
    text-align: right !important;
}

.total {
    font-size: 13px;
    border-top: 1px dashed black !important;
    border-bottom: 1px dashed black !important;
}

.total.text,
.total.price {
    text-align: right;
}

.total.price::before {
    content: "\20B1";
}

.line {
    border-top: 1px solid black !important;
}

.heading.rate {
    width: 20%;
}

.heading.amount {
    width: 25%;
}

.heading.qty {
    width: 5%
}

p {
    padding: 1px;
    margin: 0;
}

section,
footer {
    font-size: 12px;
}

#purchase-details {
    box-sizing: border-box;
}

#pos-receipt {
    padding: 5px;
    background-color: var(--card-bg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    width: 600px;
    max-height: 1000px;
    float: right;
    overflow-y: scroll;
}

#scan-product {
    padding: 5px;
    background-color: var(--card-bg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    max-width: calc(100%-500px);
    min-width: 500px;
    float: left;
}
